{{- if .Service.Features.GRPC -}}
version: v1
name: buf.build/{{.Service.Author | lower}}/{{.Service.Name | kebabCase}}
deps:
  - buf.build/googleapis/googleapis
  - buf.build/protocolbuffers/wellknowntypes
breaking:
  use:
    - FILE
lint:
  use:
    - DEFAULT
  except:
    - UNARY_RPC
  enum_zero_value_suffix: _UNSPECIFIED
  rpc_allow_same_request_response: false
  rpc_allow_google_protobuf_empty_requests: true
  rpc_allow_google_protobuf_empty_responses: true
  service_suffix: Service
{{- end -}}